<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleConnection" connectionString="Server=vegamjandb;User ID=rfcmes;Password=Aureole12;Min Pool Size=0;Max Pool Size=300;Connection Lifetime=15" providerName="System.Data.OracleClient"/>
    <add name="MySQLConnection" connectionString="Datasource=192.168.2.208;Database=testmigration;uid=vegam;pwd=Vegam@123;Allow User Variables=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="OracleSchemaName" value="RFCMES"/>
    <add key="ImportSchemaToMySQLServer" value="FALSE"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>